<div class="jumbotron center">
	<%= image_tag "gif.png" %>
	<br />
	<br />
	<h2>Welcome to Gif Stash, the world's catalog of the coolest gifs</h2>
	<br />
	<p>
		<%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-primary btn-lg' %>
	</p>
</div>