@import url('https://fonts.googleapis.com/css?family=Ubuntu');

$font-family-base: 'Ubuntu', sans-serif;


$body-bg: #d3e0f7;
$font-size-base: 18px;
$navbar-default-bg: #181842;
$navbar-default-link-color: white;
$navbar-default-brand-hover-color: #6d819c;
$navbar-default-toggle-icon-bar-bg: white;
$navbar-default-toggle-hover-bg: #6d819c;
$navbar-default-link-hover-color: #6d819c;
$btn-primary-bg: #181842;
$btn-primary-color: #f4f5f9;
$btn-info-bg: #d3e0f7;
$btn-info-color: #181842;
$btn-default-bg: #f4f5f9;
$btn-default-color: #181842;
$jumbotron-bg: #f4f5f9;
$alert-info-bg: white;
$alert-info-border: #181842;
$alert-info-text: #181842;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

body {
	color: #181842;
}

.jumbotron {
	max-width:680px;
	margin: 90px auto;
}
// home
.center {
	text-align: center;
}

.navbar-brand {
	font-weight: bold;
}

.btn-primary {
	width: 128px;
}
// login
.panel {
	max-width: 500px;
	max-height: 470px;
	margin: 80px auto;
	
}

.panel-body {
	padding-top: 30px;
	overflow: hidden;
}

.login {
	text-align: center;
}
